* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
 background-color: #000;
}

/*header*/
.header {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 20px;
  color: #f6f6f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  background: linear-gradient(135deg, rgba(30, 30, 60, 0.5), rgba(46, 88, 255, 0.2));

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
hr{
  border: 2px solid #28284db5; 
  box-shadow: 0 10px 32px rgba(0, 0, 0, 0.3);
}

.header h1 {
  position: relative;
  z-index: 20;
  background: linear-gradient(270deg, #F880D6 -0.7%, #966BF9 100.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.nav {
  display: flex;
  align-items: center;
  color: #f6f6f9;
}

.ul-nav {
  display: flex;
}

.ul-nav a {
  text-decoration: none;
  color: #f6f6f9;
  font-size: 16px;
}

.li-nav {
  list-style: none;
  transition: 0.3s;
  margin: 0 10px;
  padding: 4px 2px;
  position: relative;
}

.li-nav::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
background: linear-gradient(270deg, #F880D6 -0.7%, #966BF9 100.39%);
  bottom: -3px;
}

.li-nav:hover::before {
  width: 100%;
  transition: 0.4s;
}

.li-nav:hover {
  color: linear-gradient(270deg, #F880D6 -0.7%, #966BF9 100.39%);
}

.container-bnt-menu {
  display: none;
}

.menu-drop {
  display: none;
}

/* Responsive */
@media (max-width: 720px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .container-bnt-menu {
    display: block;
    z-index: 9999;
  }

  .linea-menu {
    display: block;
    height: 2px;
    width: 40px;
    background-color: #f6f6f9;
    margin: 8px 0;
    cursor: pointer;
    transition: all 0.4s;
    margin: 5px 0px;
  }


   .activelinea1__bars-menu {
        transform: rotate(40deg) translate(10px,12px);
   }

  .activelinea2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }

  .activelinea3__bars-menu {
    transform: rotate(-40deg) translate(-2px, 1px);
  }

  .nav {
    position: fixed;
    flex-direction: column;
    background: #111;
    right: -300px;
    top: 80px;
    height: 100vh;
    transition: right 0.4s ease-in-out;
    z-index: 100;
  }

  .ul-nav {
    flex-direction: column;
    width: 100%;
  }

  .li-nav {
    padding: 30px 80px;
    width: 100%;
    text-align: center;
  }

  .li-nav:hover {
  background: linear-gradient(270deg, #F880D6 -0.7%, #966BF9 100.39%);
    color: #000;
  }

  .li-nav:hover::before {
    content: "";
    width: 0;
    height: 0;
  }

  .menu-activado {
    right: 0;
  }

  .menu-drop {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
  }

  .activa-menu-drop {
    display: block;
  }
}
/*header*/

/* ---------------------- PRESENTATION ---------------------- */

.content-presentation {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
 
}


.linear-gradient-1,
.linear-gradient-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

.linear-gradient-2 {
  background: radial-gradient(circle at center, rgba(46, 88, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  opacity: 0.9; 
}

/* Centrado general */
.info-container {
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 600px;
  z-index: 2;
  position: relative;
}

.agradecimientos h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f5e9ff;
}

.agradecimientos p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}


.perfil-github {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.perfil-github:hover {
  transform: scale(1.1);
}


.botones-contacto {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  flex-wrap: wrap;
}


.btn-whatsapp {
  padding: 10px 20px;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background: linear-gradient(270deg, #F880D6 -0.7%, #966BF9 100.39%);
  font-weight: bold;
  transition: transform 0.3s ease;
}

.btn-whatsapp:hover {
  transform: scale(1.05);
}

/* Botones con hover */
.btn-hover {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.4s ease;
  font-weight: bold;
}

.btn-hover:hover {
  background: linear-gradient(270deg, #F880D6 -0.7%, #966BF9 100.39%);
  border: none;
  color: white;
  transform: scale(1.05);
}

.colaboradores {
  gap: 15px; 
  margin-top: 20px;
}

.perfil-link {
  display: inline-block;
  margin-top: 15px;
}

.perfil-github {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.perfil-github:hover {
  transform: scale(1.1);
}


@media (max-width: 1024px) {
  .info-container {
    padding: 0 20px;
    max-width: 90%;
    margin-top: 40px;
  }

  .agradecimientos h2 {
    font-size: 22px;
  }

  .agradecimientos p {
    font-size: 15px;
  }

  .perfil-github {
    width: 50px;
    height: 50px;
  }

  .botones-contacto {
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .info-container {
    padding: 0 15px;
    max-width: 100%;
    margin-top: 110px;
  }

  .agradecimientos h2 {
    font-size: 20px;
  }

  .agradecimientos p {
    font-size: 14px;
  }

  .perfil-github {
    width: 40px;
    height: 40px;
  }

  .botones-contacto {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .btn-whatsapp,
  .btn-hover {
    width: 100%;
    max-width: 250px;
  }

  .colaboradores {
    text-align: center;
  }
}




